{% extends 'basic.html' %}

{% load static %}

{%block body%}



<div class="container">


    <section class="offer">
        <img src="https://pbs.twimg.com/media/EYrF2KZUEAEHURE?format=jpg&name=medium" alt="">
    </section>

    <section class="kurta-container">
        <div class="kurta-box">
            <img src="https://www.asliwholesale.com//images/product/sub_images/2022/01/Desi-Boy-Asliwholesale-101-0-2022-01-10_18_21_08.jpg"
                alt="">

            <div class="first">
                <h2>Rs 1500</h2>
                <h4>Design No-1</h4>
            </div>
        </div>
        <div class="kurta-box">
            <img src="https://www.asliwholesale.com//images/product/sub_images/2022/01/Desi-Boy-Asliwholesale-102-1-2022-01-10_18_21_08.jpg"
                alt="">
            <div class="second">
                <h2>Rs 1800</h2>
                <h4>Design No-2</h4>
            </div>
        </div>
        <div class="kurta-box">
            <img src="https://www.asliwholesale.com//images/product/sub_images/2022/01/Desi-Boy-Asliwholesale-103-2-2022-01-10_18_21_08.jpg"
                alt="">
            <div class="third">
                <h2>Rs 2000</h2>
                <h4>Design No-3</h4>
            </div>
        </div>
    </section>
    <section class="kurta-container">
        <div class="kurta-box">
            <img src="https://www.asliwholesale.com//images/product/sub_images/2022/01/Desi-Boy-Asliwholesale-104-3-2022-01-10_18_21_08.jpg"
                alt="">
            <div class="fourth">
                <h2>Rs 3000</h2>
                <h4>Design No-2</h4>
            </div>
        </div>
        <div class="kurta-box">
            <img src="https://www.asliwholesale.com//images/product/sub_images/2022/01/Desi-Boy-Asliwholesale-105-4-2022-01-10_18_21_08.jpg"
                alt="">
            <div class="fifth">
                <h2>Rs 2500</h2>
                <h4>Design No-2</h4>
            </div>
        </div>
        <div class="kurta-box">
            <img src="https://www.asliwholesale.com//images/product/sub_images/2022/01/Desi-Boy-Asliwholesale-Catalogue-5-2022-01-10_18_21_08.jpg"
                alt="">
            <div class="sixth">
                <h2>Rs 5000</h2>
                <h4>Design No-2</h4>
            </div>
        </div>
    </section>
    <div class="saree-heading">
        <h1><em>TOP SAREES</em></h1>
    </div>
    <section class="saree-container">
        <div class="kurta-box">
            <img src="https://medias.utsavfashion.com/media/catalog/product/cache/1/image/1000x/040ec09b1e35df139433887a97daa66f/w/o/woven-art-silk-saree-in-fuchsia-and-orange-v1-spf6457.jpg"
                alt="">
            <div class="saree-first">
                <h2>Rs 1500</h2>
                <h4>Design No-1</h4>
            </div>
        </div>
        <div class="kurta-box">
            <img src="https://rukminim1.flixcart.com/image/832/832/ky3b0y80/sari/f/k/k/free-readypink-ksevencreation-unstitched-original-imagae9fkjfegvuq.jpeg?q=70"
                alt="">
            <div class="saree-second">
                <h2>Rs 1000</h2>
                <h4>Design No-1</h4>
            </div>
        </div>
        <div class="kurta-box">
            <img src="https://rukminim1.flixcart.com/image/832/832/xif0q/sari/p/0/e/free-2431s853-samah-unstitched-original-imagd8tjqphyyryt-bb.jpeg?q=70"
                alt="">
            <div class="saree-third">
                <h2>Rs 1300</h2>
                <h4>Design No-1</h4>
            </div>
        </div>
        <div class="kurta-box">
            <img src="https://rukminim1.flixcart.com/image/832/832/l02r1jk0/sari/h/x/a/free-2329sj781-siril-unstitched-original-imagbxxwaxfgftya.jpeg?q=70"
                alt="">
            <div class="saree-fourth">
                <h2>Rs 1700</h2>
                <h4>Design No-1</h4>
            </div>
        </div>
    </section>
</div>
<script src="script.js"></script>


{%endblock%}